<ion-view title="アプリについて">
    <ion-content class="has-footer">
        <div class="list-header">

        </div>
        <div class="item">
            現在のバージョン
            <div class="item-note" style="float: right;">
                {{version}}
            </div>
        </div>
        <!--
        <div class="item item-icon-right item-right">
            利用規約
            <i class="icon ion-chevron-right"></i>
        </div>
        -->
        <div class="item" ng-click="goPolicy()">
            プライバシーポリシー
        </div>
    </ion-content>
</ion-view>