<ion-view title="表示件数設定">
    <ion-content>

        <div ng-repeat="p in pagerList">
            <ion-radio ng-model="settings.pager" ng-value="p" ng-change="doChangePager()">{{p.text}}</ion-radio>
        </div>

    </ion-content>
</ion-view>