<ion-view view-title="Login">
    <ion-content>
        <div class="card">
            <div class="item item-image">
                <img ng-src="img/logo.png">
            </div>
        </div>

        <div class="card">
            <form name='login' ng-submit="doAuth()">
                <div class="list list-inset">
                    <label class="item item-input item-floating-label">
                        <span class="input-label"> Your Login ID </span>
                        <input type="text" placeholder="Your Login ID" ng-model="loginData.id" required>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label"> Password </span>
                        <input type="password" placeholder="Password" ng-model="loginData.password" required>
                    </label>
                    <label class="item">
                        <button class="button button-block button-positive" type="submit" ng-disabled="login.$invalid">
                            ログイン
                        </button>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
