<ion-view view-title="設定">
    <ion-content class="has-header has-footer">
        <div class="list">
            <div class="list-header">

            </div>
            <div class="item item-icon-right icon-right" ui-sref="^.exhibitorinfo()">
                ブース情報
                <i class="icon ion-chevron-right"></i>
            </div>

            <div class="item item-icon-right icon-right" ui-sref="^.eventinfo() ">
                イベント情報
                <i class="icon ion-chevron-right"></i>
            </div>

            <div class="list-header">

            </div>
            <div class="item item-icon-right icon-right" ui-sref="^.pager()">
                表示件数
                <i class="icon ion-chevron-right"></i>
            </div>
            <div class="list-header">

            </div>
            <div class="item item-icon-left" ng-click="showLocalData()">
                <i class="icon ion-android-archive"></i>
                キャッシュデータ送信
                <span class="badge badge-assertive" ng-if="numberCache != 0">{{numberCache}}</span>
            </div>

            <div class="item item-icon-left" ng-click="logout()">
                <i class="icon ion-log-out"></i>
                ログアウト
            </div>

            <div class="item item-icon-right icon-right" ui-sref="^.about()">
                アプリについて
                <i class="icon ion-chevron-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>