<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="トラッキング" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="^.tabs.tracking" >
    <ion-nav-view name="tracking"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="設定" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="^.tabs.settings">
    <ion-nav-view name="settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>

