<ion-view title="来場者情報詳細">
    <ion-content class="has-header has-footer padding">
        <div class="list list-inset">
            <div class="item" style="text-align: center;">
                <a ng-class="{'button button-clear button-large' : !visitor.favorite, 'button button-large button-clear button-energized' : visitor.favorite}"
                   ng-click="setFavorite()">
                    <i ng-class="{'icon ion-ios-star-outline' : !visitor.favorite, 'icon ion-ios-star' : visitor.favorite}"></i>
                </a>
            </div>
            <div ng-repeat="c in visitor.content">
                <div class="item item-divider">
                    {{c.header}}
                </div>
                <div class="item">
                    {{c.value}}
                </div>
            </div>

            <div class="item item-divider">
                メモ
            </div>
            <div class="item item-input">
                <textarea ng-model="visitor.note" style="height: 100px;">

                </textarea>
            </div>
            <div class="item" style="text-align: center">
                <button class="button button-positive button-outline" ng-click="postNote()">メモした内容を送信</button>
            </div>
        </div>

    </ion-content>
</ion-view>