<ion-view title="イベント詳細">
    <ion-content class="has-header has-footer padding">
        <div class="list card">
            <div class="item item-divider">
                イベント名
            </div>
            <div class="item">
                {{event.name}}
            </div>

            <div class="item item-divider">
                開催場所
            </div>
            <div class="item">
                {{event.place}}
            </div>
        </div>
    </ion-content>
</ion-view>