<ion-view title="{{exhibitor.getName()}}様">

    <ion-content class="has-header">

        <!--
        <div class="row responsive-lg">
            <img ng-src="img/logo.png" width="100%">
        </div>
        -->

        <div class="row">
            <div class="col responsive-sm">

                <div class="card">
                    <div class="item-divider" style="background-color:#8AF26C;text-align: center;">
                        <h1>現在の来場者数</h1>
                    </div>
                    <div class="item" style="text-align: center; ">
                        <h1>{{visitorNumbers}}&nbsp;人</h1>
                    </div>
                </div>

                <p>
                    <img ng-src="img/qrcode.png" width="100%" my-touchstart="doScanner()">
                </p>

                <p>
                    <img ng-src="img/visitors.png" width="100%" ui-sref="^.visitorlist()">
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
