<ion-view title="来場者一覧">

    <ion-content class="has-header has-footer">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-show="visitorList.length === 0">来場者情報はありません</ion-item>
            <ion-item class="dark" ng-repeat="v in visitorList"
                      ui-sref="^.visitorinfo({visitorId : v.visitor_id})">
                <h3 style="float: left;">{{v.name}}</h3>
                <h4 style="float: right;">{{v.time}}</h4>
            </ion-item>
        </ion-list>
        <div style="text-align: center;">
            <ion-infinite-scroll ng-if="!noMoreItemAvailable" on-infinite="getVisitorList()" distance="1%">

            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>