<ion-view title="ブース詳細">
    <ion-content class="has-header has-footer padding">
        <div class="list card">
            <div class="item item-divider">
                ブース名
            </div>
            <div class="item">
                {{exhibitor.name}}
            </div>

            <div class="item item-divider">
                連絡先
            </div>
            <div class="item">
                {{exhibitor.mail}}
            </div>
        </div>
    </ion-content>
</ion-view>